* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Inknut Antiqua";
    src: url("./../../assets/fonts/Inknut_Antiqua/InknutAntiqua-Regular.ttf");
}

body{
    margin: 0;
    padding: 0;
}

nav{
    background:#7A5032;
    height: 130x;
}

.menu{
    margin: 0 auto;
    max-width: 1000px;
}
.logo:hover{
    cursor: pointer;
}
.nav-links>ul>li{
    list-style: none;
    padding: 0.7rem;
    color: #fff;
    font-size: 1.2em;
    margin-right: 0.7rem;
}

.nav-links>ul>li:hover{
    opacity: 0.5;
    cursor: pointer;
}

.intro{
    height: 500px;
    background: #2D4739;
    padding-top: 2rem;
}

.background{
    height: 400px;
    width:400px;
}

.features,.quote{
    max-width: 250px;
    font-size: 1.5rem;
    color: #fff;
    line-height: 35px;
    font-family:Inknut Antiqua;
}
/*Footer*/

footer{
    font-family: "Inknut Antiqua";
}