* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inknut Antiqua";
    src: url("./../../assets/fonts/Inknut_Antiqua/InknutAntiqua-Regular.ttf");
}

footer {
    font-family: "Inknut Antiqua";
}

.div-creators {
    height: 584px;

}

.div-copyrights{
    height: 165px;
}

.div-profile {
    width: 198px;
    height: 198px;
}

