.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.space-around{
  justify-content: space-around;
}

.space-between{
  justify-content: space-between;
}

.space-evenly{
  justify-content: space-evenly;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.d-none{
  display: none;
}
.d-block{
  display: block;
}

.rounded{
  border-radius: 150px;
}

.d-coloumn{
  flex-direction: column;
}

.align_items_center{
  align-items: center;
}
